.tron {
    background-image: url("tron.jpg");
    
    height: 100vh;
    background-position: center center;
    background-size: cover;
  }
  
  .content {
    position: relative; /* Make sure the container is positioned relatively */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    height: 100%; /* Fill the height of the container */
    letter-spacing: 2px;
    
  }
  .oliver{
height: 200px;
width: 200px;
position: fixed;
bottom: 20px;
right: 20px;
z-index: 1000; 
  }
  
  
  .content h1,
  .content h3,
  .content span {
    position: relative; /* Ensure the absolute positioning is relative to .content */
    text-align: center; /* Center the text horizontally */
    width: 100%; /* Make sure the text takes full width */
    padding: 20px;
    margin: 0;
  }
  .animate__animated.animate__fadeInLeft{
    
    animation-duration: 5s;
    animation-iteration-count: infinite;
  }
  .content h1{
    font-family: 'Monoton', cursive;
    font-weight: 400;
    
  }
  .content h1 span{
    color: #FC3787;
  }
  .content h3,a{
    font-family: 'Oswald', sans-serif;
  }
  .animate__animated.animate__rotateInUpRight{
    
    animation-duration: 3s;
    animation-iteration-count: infinite;

  }  


  .animate__animated.animate__heartBeat{

    animation-duration: 7s;
    animation-iteration-count: infinite;
  }
 

.neon-button{
    
    width:10%;
    padding: 0.6% 0;
    text-align: center;
    
    font-weight:500;
    border: 1.2px solid #FC3787;
    
    color: black;
    cursor: pointer;
    
    text-decoration: none;
    text-transform: uppercase;
    transition:  ease-out 0.8s;
    box-shadow: inset 0 0 0 0  #FC3787;
}

.neon-button:hover {
    box-shadow: inset 200px 0 0 0  #FC3787 ;
    color: gray;
}

@media (max-width:762px){
    .neon-button{
        font-size:7px;
        
        font-weight: 100;
        padding:0.3% 0;
    }
}
/* WhatsApp icon styles */
.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
   z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
  }
  