@import "./_variables.scss";



.navbar{
height: 90px;
font-family: 'Oswald', sans-serif;
  

width:100%;
}
.navbar-nav{
    margin-left: auto;
    
    margin-right: 3%;
    
}
.nav-link{
 
    margin-left: auto;
}

@media screen and (max-width:992px){
    .navbar-nav{
        width: 98%;
background-color:var(--primary-color) ;
z-index: 1;
position:absolute;

        margin-top: 4%;
    }
}
@media screen and (max-width: 992px){
a.nav-link.active {
    text-align: center;
    margin: 0 auto;
}
}


.navbar-nav >a{
    position: relative;
    text-decoration: none;

}
.navbar-nav >a:after{
    content: "";
    position: absolute;
    background-color:  #FC3787;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
}
.navbar-nav >a:hover:after{
    width: 100%;
    transition: 1s;
  
}
.navbar-nav >a:hover{
    color: #FC3787 !important;
    
}
.navbar-brand >img{
    position: relative;
    bottom: 40px;
    width: 270px;
    height: 130px;
    
}
.navbar-brand{
    width: 20px;
    height: 20px;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--bs-navbar-active-color);
    padding: 3%;

}